modules = ["nodejs-20"]
hidden = [".config", "**/__pycache__", ".git"]

[nix]
channel = "stable-25.05"

[env]
PATH = "/home/runner/.cargo/bin:/home/runner/.bun/bin:/home/runner/.nvm/versions/node/v20.17.0/bin:/home/runner/.local/bin:/home/runner/.config/cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
NPM_CONFIG_PREFIX = "/home/runner/.npm-global"

[workflow]
run = "npm install && npm run dev"

[[ports]]
localPort = 5173
externalPort = 80

